<h2>Edit: <%=@landmark.name%></h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Name:</label><br>
  <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>"><br><br>
  <label>Year Completed:</label><br>
  <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"><br>
  <input type="submit" value="Edit Landmark">
  </form>
