<form action="/landmarks" method="post">
  <label><h2>New Landmark:</h2></label>
  <label>Name:</label><br>
  <input type="text" id="landmark_name" name="landmark[name]"><br><br>

  <label>Year Completed:</label><br>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br><br>
  <input type="submit" value="Create New Landmark">

</form>
